@import "tailwindcss";

@theme {
  --color-background: #FFF6D5;
  --color-accent-lilac: #D8B7DD;
  --color-accent-lavender: #BFB3E0;
  --color-selected: #C7DCA0;
  --color-accent-yellow: #F4D35E;
  --color-text: #3B3645;
  --color-map-default: #666666;
}

.map-container {
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .map-container {
    height: 500px;
  }
}
